---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/sections/Hero.astro";
import Info from "@/sections/Info.astro";
import Nav from "@/sections/Nav.astro";
---

<Layout title="Leandro Gutierrez - Software Development">
  <Nav />
  <main>
    <Hero />
    <Info />
  </main>
</Layout>

<style></style>
