<section class="bg-primary flex flex-col md:flex-row gap-6 p-6 mt-24">
  <div>
    <h4
      class="text-center font-display text-primary text-3xl -mt-[51px] md:mb-[15px]"
    >
      Mis comienzos
    </h4>
    <div class="description font-body text-base">
      Mi primer acercamiento al mundo de la tecnología comenzó en 1999, cuando
      mis padres compraron una computadora. Desde entonces, mi curiosidad por
      explorar y entender lo que esta máquina podía hacer creció continuamente,
      llevándome a amar este fascinante campo. A los 12 años, con acceso a
      internet, comencé a modificar archivos HTML y CSS de sitios web reales,
      incluso configurando servidores locales para compartir mis propias
      páginas. A los 15 años, ya estaba realizando proyectos web para
      emprendimientos familiares.
    </div>
  </div>
  <div>
    <div
      class="text-center font-display text-secondary md:text-primary text-3xl md:-mt-[51px] md:mb-[15px]"
    >
      Mis estudios
    </div>
    <div class="description font-body text-base">
      Mis primeros estudios se enfocaron en el arte y el diseño, lo que me llevó
      a inscribirme en la carrera de Diseño Industrial en la Universidad
      Nacional de Cuyo. Aunque encontré esta disciplina interesante, no era lo
      que realmente buscaba en ese momento de mi vida. Así que, en un cambio
      radical, ingresé a la Universidad Tecnológica Nacional para estudiar
      Ingeniería en Sistemas de Información, donde completé cuatro de los cinco
      años de la carrera.
    </div>
  </div>
  <div>
    <div
      class="text-center font-display text-secondary md:text-primary text-3xl md:-mt-[51px] md:mb-[15px]"
    >
      Mi Carrera
    </div>
    <div class="description font-body text-base">
      Durante mis estudios, comencé a trabajar como desarrollador frontend
      (Angular) y desarrollador de aplicaciones cross-platform (Ionic) en 2018,
      participando en la creación y mantenimiento de numerosos proyectos. En
      2019, amplié mis habilidades trabajando en proyectos con React y
      explorando el backend (con tecnologías como .NET, NodeJs y Laravel). A
      principios de 2022, me uní a Lucky Financing, donde me he centrado
      principalmente en el backend (NestJS), ayudando a evolucionar la
      aplicación de un monolito a una arquitectura basada en más de 20
      microservicios y más de 10 bases de datos.
    </div>
  </div>
</section>
